<app-header></app-header>
<!-- Home Section -->
<section id="home" class="section-home align-items-center d-flex">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-5 col-lg-6">
        <h3 class="sub-title">Hello, I'm</h3>
        <h1 class="title">
            <div class="title__animatedBlack">
              <div class="title__bg-black"></div>
              <span class="title__text-1">Lilanka</span>
            </div>
          </h1>
        <h1 class="title">
          <div class="title__animatedOrange">
            <div class="title__bg-orange"></div>
            <span class="title__text-2">Abeysiriwardana</span>
          </div>
        </h1>
        <p class="gender">(he/him/his)</p>
        <button class="button">Download Resume</button>
      </div>
      <div class="col-lg-6 offset-xl-1">
        <div class="image-container d-none d-lg-block">
          <img src="../../assets/hero_lilanka.png" alt="Lilanka Abeysiriwardana">
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End - Home Section -->

<!-- Projects Section -->
<section id="projects"></section>
<!-- End - Projects Section -->

<!-- Skills Section -->
<section id="skills"></section>
<!-- End - Skills Section -->

<!-- Experience Section -->
<section id="experience"></section>
<!-- End - Experience Section -->

<!-- About Section -->
<section id="about"></section>
<!-- End - About Section -->

<!-- Contact Section -->
<section id="contact"></section>
<!-- End - Contact Section -->

<!-- Footer -->
<footer id="footer"></footer>
<!-- End - Footer -->
